/*
	Accessible News Slider : Plugin Specific
-----------------------------------------------------------------------------------------*/

body {
	-x-system-font:none;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.231;
	color:#666666;
}


div.accessible_news_slider img {
	border: 0;
}
div.accessible_news_slider li,
div.accessible_news_slider p {
	margin: 0;
	padding: 0;
}

div.accessible_news_slider {
	position: relative;
	overflow: hidden;
}

div.accessible_news_slider ul {
	position: relative;
	left: 0;
	width: auto;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	z-index: 1;
}
div.accessible_news_slider li {
	float: left;
	display: inline;
	width: 300px;
}